@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.navbar-default {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	border: none;
}

.snap {
	color: #5A8BC1;
	font-family: 'Hind', sans-serif;
	font-weight: bold;
}

.grid {
	color: #5B636A;
	font-family: 'Hind', sans-serif;
	font-weight: bold;
}

.navbar-nav>li>a {
	padding-right: 6em;
}

.navbar-default .navbar-toggle {
	background: #3D8CCB;
	margin-right: 5em;
	padding: 6px;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #fff;
	height: 4px;
}

.navbar-btn {
	background: #4489C5;
	color: #fff;
	width: 7em;
}

.mountains {
    background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/bootstrap-grid/blob/master/images/hero-dark.jpg?raw=true");
	height: 30em;
	margin-top: -3em;
	margin-left: 2px;
	margin-right: 2px;

	h1 {
		color: #fff;
		text-align: center;
		padding-top: 2em;
		font-weight: normal;
		font-size: 4.5em;
		font-family: 'Open Sans', sans-serif;

	}

	p {
		color: #fff;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-size: 1.5em;
		margin-top: 1em;
		margin-right: 5em;
		margin-left: 5em;

	}
}

.snapgrid-description {

	h3 {
		text-align: center;
		color: #9CA0A3;
		font-family: 'Hind', sans-serif;
		font-weight: bold;
	}

	p {
		color: #9CA0A3;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
	}

	button {
		color: #fff;
		background: #418ACB;
		-webkit-border-radius: 0.5em;
		font-family: 'Open Sans', sans-serif;
		border: none;
		margin-top: 1em;
		margin-left: 4em;
		padding-left: 2em;
		padding-right: 2em;
	}
}

.html {
	background: #F0F0F0;
	margin-left: 2em;
	margin-right: 2em;

	h3 {
		color: #B2B5B8;
		font-family: 'Hind', sans-serif;
		padding-top: 1em;
	}

	p {
		color: #B2B5B8;
		font-family: 'Open Sans', sans-serif;
		padding: 1em;
	}
}

.dog {
	margin-left: 1em;
	margin-top: 1em;
	color: #C0C0C0;
	font-family: 'Open Sans', sans-serif;
}

.meal {
	margin-left: 3em;
	margin-top: 1em;
	color: #C0C0C0;
	font-family: 'Open Sans', sans-serif;
}

.desert {
	margin-left: 1em;
	margin-top: 1em;
	color: #C0C0C0;
	font-family: 'Open Sans', sans-serif;
}

.sunset {
	margin-left: 3em;
	margin-top: 1em;
	color: #C0C0C0;
	font-family: 'Open Sans', sans-serif;
}

.snapgrid-bottom-description {

	h3 {
		color: #9CA0A3;
		font-family: 'Hind', sans-serif;
		font-weight: bold;
	}

	p {
		color: #9CA0A3;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
	}
}

.bottom {
	background: #3A414B;
	height: 20em;
	margin-top: 1em;
	margin-left: 2.75em;
	padding-left: 1em;
	margin-right: -2.75em;


	h3 {
		font-family: 'Hind', sans-serif;
		color: #9097A0;
	}

	p {
		color: #9097A0;
		font-family: 'Open Sans', sans-serif;
		margin: 0.5em;
	}
}

.about-us-footer {
	
	p {
		text-decoration: underline;
	}
}

.contact-us-footer {
	width: 32%;
}

.snapgrid-footer {
	margin-left: 0.5em;
}

@media screen and (min-width: 768px) {
	.html h3 {
		text-align: center;
	}

	.dog {
		width: 20%;
		margin-left: 1.5em;
	}

	.meal {
		width: 20%;
		margin-left: 1.5em;
	}

	.desert {
		width: 20%;
		margin-left: 1.5em;
	}

	.sunset {
		width: 20%;
		margin-left: 1.5em;
	}

	.image5 {
		width: 25%;
	}

	.snapgrid-bottom-description {
		text-align: center;
	}
}

@media screen and (min-width: 400px) and (max-width: 768px) {
	.bottom {
		margin-top: -1.5em;
		padding-top: -4em;
	}

	.snapgrid-footer {
		margin-top: 1em;
		padding-top: 1em;
	}

	.about-us-footer {
		margin-left: 0.5em;
	}

	.contact-us-footer {
		width: 100%;
		margin-left: 0.5em;
	}

	.border1 {
		border-top: 2px solid #CBCBCB;
		margin-top: 1em;
		margin-left: 2em;
		margin-right: 2em;
	}

	.container {
		margin-top: 1em;
	}
}

@media screen and (min-width: 768px) and (max-width: 850px) {
	.mountains {
		h1 {
			font-size: 3.5em;
			margin-left: -10em;
			padding-top: 3em;
		}

		p {
			font-size: 1em;
			margin-right: -14em;
			margin-top: -2.4em;
		}
	}

	.border1 {
		border-top: 2px solid #CBCBCB;
		margin-top: 12em;
		margin-left: 2em;
		margin-right: 2em;
	}

	.container {
		margin-top: 1em;
	}
}



@media screen and (min-width: 851px) and (max-width: 950px) {
	.mountains {
		h1 {
			margin-left: -9em;
		}

		p {
			margin-right: -16em;
			padding-right: 4em;
			font-size: 1.15em;
			margin-top: -3.3em;
		}
	}


	.border1 {
		border-top: 2px solid #CBCBCB;
		margin-top: 12em;
		margin-left: 2em;
		margin-right: 2em;
	}

	.container {
		margin-top: 1em;
	}
}

@media screen and (min-width: 951px) {

	.border1 {
		border-top: 2px solid #CBCBCB;
		margin-top: 12em;
		margin-left: 2em;
		margin-right: 2em;
	}

	.container {
		margin-top: 1em;
	}
}


@media screen and (min-width: 400px) and (max-width: 430px) {
	.snapgrid-bottom-description {
		border-top: 2px solid #CBCBCB;
		margin-top: 24em;
		margin-left: 2em;
		margin-right: 2em;
	}
}

@media screen and (min-width: 430px) and (max-width: 767px) {
	.snapgrid-bottom-description {
		border-top: 2px solid #CBCBCB;
		margin-top: 80%;
		margin-left: 2em;
		margin-right: 2em;
	}
}

@media screen and (min-width: 768px) and (max-width: 830px) {
	.snapgrid-bottom-description {
		border-top: 2px solid #CBCBCB;
		margin-top: 70%;
		margin-left: 2em;
		margin-right: 2em;
	}

	div.image5.col-sm-3 {
		padding-top: 1em;
	}
}

@media screen and (min-width: 831px) {
	.snapgrid-bottom-description {
		border-top: 2px solid #CBCBCB;
		margin-top: 40em;
		margin-left: 2em;
		margin-right: 2em;
	}

	div.image5.col-sm-3 {
		padding-top: 1em;
	}
}



